<div class="jumbotron">
	<h1 class="text-center">Alurapic</h1>
</div>

<p class="alert alert-info" ng-show="mensagem.length">{{mensagem}}</p>

<form>
	<div class="input-group">
		<span class="input-group-btn">
			<a href="/fotos/new" class="btn btn-default" type="button">Nova foto</a>
		</span>
		<!-- A medida q eu for digitando eu vou atualizando os dados, e com o debounce há um delay pra isso. postergação do two-way data binding -->
		<input ng-model="filtro" ng-model-options="{debounce: 500}" type="text" placeholder="Filtrar" class="form-control">
	</div>
</form>

<hr>

<div class="row">

	<meu-painel class="col-md-2 col-sm-3 col-xs-6 painel-animation" ng-repeat="foto in fotos | filter: {titulo: filtro}" titulo="{{foto.titulo}}">
		<minha-foto url="{{foto.url}}" titulo="{{foto.titulo}}" descricao={{foto.descricao}}></minha-foto>

		<div class="btn-group">
			<a href="fotos/edit/{{foto._id}}" class="btn btn-primary">Editar</a>
			<button ng-click="remover(foto)" class="btn btn-danger">Deletar</button>
		</div>
	</meu-painel>

</div>
